attrs==20.3.0
bitstring==3.1.7
boltons==19.3.0
cachier==1.5.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
cryptography==3.4.4
dpath==1.5.0
ecdsa==0.16.1
esptool==3.0
git+https://github.com/micropython-IMU/micropython-mpu9x50.git#egg=imu
gitdb==4.0.5
gitpython==3.1.13
idna==2.10
jinja2==2.11.3
jsonschema==3.2.0
markupsafe==1.1.1
micropy-cli==3.5.0
packaging==20.9
pathtools==0.1.2
portalocker==2.2.1
prompt-toolkit==3.0.16
pycparser==2.20
pyparsing==2.4.7
pyrsistent==0.17.3
pyserial==3.5
questionary==1.9.0
reedsolo==1.5.4
requests==2.25.1
requirements-parser==0.2.0
six==1.15.0
smmap==3.0.5
tqdm==4.56.2
urllib3==1.26.3
watchdog==2.0.0
wcwidth==0.2.5
